@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex items-center justify-center;
}

::-webkit-scrollbar {
  @apply w-[2px]
}

::-webkit-scrollbar-thumb {
  @apply rounded-full w-full cursor-pointer bg-white/[54.42%]
}

@font-face {
  font-family: 'segoeRegular';
  src: url('../../public/fonts/fonnts.com-Segoe_UI_Variable_Static_Display.ttf');
}

@font-face {
  font-family: 'segoeBold';
  src: url('../../public/fonts/fonnts.com-Segoe_UI_Variable_Static_Display_Bold.ttf');
}

@font-face {
  font-family: 'segoeLight';
  src: url('../../public/fonts/fonnts.com-Segoe_UI_Variable_Static_Display_Light.ttf');
}

.activeChat::after {
  content: '';
  @apply bg-lightBlue right-0 bottom-0 top-0 w-1 h-8 transition-all rounded-r-full
}

.noScrollWidth {
  scrollbar-width: none;
}

.bottomBorderLeft::before {
  content: '';
  @apply absolute bg-chatBg rounded-br-2xl z-[999] w-2 left-10 inset-y-0
}

.bottomBorderRight::before {
  content: '';
  @apply absolute bg-chatBg rounded-bl-2xl rounded-tr-xl z-[999] w-2 right-0 top-0 -bottom-px
}